version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=/api
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=mydb
    depends_on:
      - db
    networks:
      - appnet

  db:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=mydb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - appnet

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
    - ./frontend/build:/usr/share/nginx/html
    depends_on:
      - frontend
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
    driver: bridge
